.wrapper {
  padding: 20px 40px;
}

.detailsWrapper {
  display: flex;
  gap: 20px;
  color: gray;
}

.filmImg {
  display: block;
  width: 100%;
}

.imgWrapper {
  max-width: 400px;
  border-radius: 10px;
  border: 2px solid grey;
  box-shadow: 10px 5px 5px grey;

  overflow: hidden;
}

.linksWrapper {
  display: flex;
  gap: 15px;
}

.buttonLink {
  padding: 5px;
  border: 1px solid rgb(223, 214, 214);
  display: inline-flex;
  align-items: center;
  background-color: rgb(229, 221, 221);
  box-shadow: 10px 5px 5px grey;
  margin-bottom: 20px;
  border-radius: 10px;
  color: grey;

  text-decoration: none;
}

.buttonLink:hover {
  background-color: grey;
  color: rgb(231, 66, 140);

  box-shadow: 10px 5px 5px rgb(231, 66, 140);
}

.linksWrapper {
  margin-top: 20px;
}
